@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --black: #333;
  --white: #fff;
}

.dark {
  --black: #fff;
  --white: #333;

  .wrapper {
    filter: invert(1);
    mix-blend-mode: multiply;
  }
}

main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    user-select: none;
    mix-blend-mode: screen;
    z-index: 2;
  }

  h2 {
    position: relative;
    z-index: 3;
    font-size: 15vw;
    color: #fff;
    text-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  }

  .copyright {
    position: absolute;
    left: 80px;
    bottom: 30px;
    z-index: 4;
    font-weight: 500;
    font-size: 1rem;
    color: var(--black);
  }

  .sosmed {
    position: absolute;
    right: 80px;
    bottom: 30px;
    z-index: 4;
    display: flex;
    flex-direction: column;

    li {
      list-style: none;

      a {
        text-decoration: none;
        color: var(--black);
        font-size: 1.8rem;
      }
    }
  }
}

@media (max-width: 768px) {
  header {
    padding: 1em 2em;
  }

  main {
    .copyright {
      left: 20px;
    }

    .sosmed {
      right: 30px;
      li a {
        font-size: 1.5rem;
      }
    }
  }
}
